<div id="checkboxes">
    <div id="exercise-types">
        <label>
            <input type="checkbox" name="conjugations" />Conjugaisons de base
        </label>
        <label>
            <input type="checkbox" name="conjugations-plus" />Conjugaisons plus
        </label>
        <label>
            <input type="checkbox" name="tense-sequence" />Concordance des temps
        </label>
        <label title="prépositions, conjonctions, déterminant">
            <input type="checkbox" name="others" />Prép./conj./déterm
        </label>
        <label>
            <input type="checkbox" name="vocabulary" />Vocabulaire
        </label>
    </div>

    <label class="not-disableable" style="float: left">
        <input type="checkbox" name="duration" />Colonne de durée
    </label>

    <label class="not-disableable" style="float: right">
        <input type="checkbox" name="recent-dates" data-unchecked="1" />
        Exercices des derniers jours
    </label>

    <div id="language-levels">
        <label><input type="checkbox" name="A1" />A1</label>

        <label><input type="checkbox" name="A2" />A2</label>

        <label><input type="checkbox" name="B1" />B1</label>

        <label><input type="checkbox" name="B2" />B2</label>
    </div>
</div>