<iframe src="home-icon.html"
    onload="this.before(...(this.contentWindow.document.body||this.contentWindow.document).children);this.remove()"></iframe>


<a tabindex="-1" class="info-icon" href="">&#128712;</a>

<hr />
<footer>
    <span id="error-counter-section"></span>
    <template id="template-error-counter-line">
        <h4 id="error-counter-" class="error-counter-line">
            Résultat<span class="resultat-for-which-tense"></span>:

            <span class="result">0</span>%
            (<span class="number-of-errors">0</span> erreurs,
            <span class="number-correct">0</span> correctes)
        </h4>
    </template>

    <h4>Durée: <span id="total-time"></span></h4>

    <span id="stats-title">Statistiques:</span>
    <ol id="stats"></ol>

    <template id="template-stats-line">
        <li></li>
    </template>
</footer>

<a id="xhtml-validator" class="no-testing" tabindex="-1" href="https://validator.w3.org/check/referer" referrerpolicy="unsafe-url">
    <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo.svg" alt="HTML5_Logo" />
</a>