iframe {
    display: none;
}

#xhtml-validator {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 3em;
}

body {
    font-family: sans-serif;
    /* color of regular text in GMail */
    color: #222;
    --section-header-color: #2a5f6e;
}

body main {
    width: 50em;
    margin: auto;
}

body main.wide {
    width: 77em;
}

.home-icon {
    position: absolute;
    left: 1em;
    top: 1em;
}

.home-icon svg {
    /* original 50 */
    width: 30px;

    /* original 50 */
    height: 30px;
}

a.info-icon {
    position: absolute;
    right: 0.5em;
    top: 0em;
    font-size: 250%;
    color: black;
    opacity: 75%;
    text-decoration: none;
}

#page-title {
    text-align: center;
}

h3,
.infinitive {
    color: #663300;
}

header h4 {
    color: #ff3300;
    text-align: left;
}

.verb-list .verb-block,
.conjugations-for-one-tense-block {
    display: inline-block;
    width: 33.3%;

    /* if not all pronouns are used. Example: falloir - il faudra */
    vertical-align: top;
}

.verb-block label {
    width: 2.5em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.verb-list input,
.conjugations-for-one-tense-block input {
    font-size: 1em;
    width: 9.5em;
    margin: 0 0.25em;
}

.speakerphone {
    fill: rgb(95, 99, 104);
    display: flex;
    align-items: center;
}

.verb-block .conjugation-line {
    margin: 1em 0;
    display: flex;
}

.conjugations-for-one-tense-block .conjugation-line:first-of-type {
    margin-top: 0;
}

input[type="text"]:invalid:not(:focus) {
    background-color: #fc8181;
}

input[type="text"].failed:not(:invalid) {
    border: 2px #fc8181 solid;
}

/* for radio button */
label:has(input[type="radio"]:checked:not(:required)) {
    background-color: #fc8181;
}

/* add transparent border to keep size the same */
label:not(.failed):has(input[type="radio"]),
li span:has(+span) {
    border: 2px transparent solid;
}

label.failed {
    border: 2px #fc8181 solid;
}


/* Mixed conjugation page */

#checkboxes-to-choose-tenses {
    display: none;
}

header label {
    display: inline-block;
    width: 24%;
    margin: 0.5em 0;
    vertical-align: top;
}

header label:last-of-type {
    margin-bottom: 2em;
}

.conjugations-for-one-tense-block.presentsubjunctive label,
.conjugations-for-one-tense-block.presentperfectsubjunctive label {
    width: 4.2em;
}

.conjugations-for-one-tense-block.presentsubjunctive input,
.conjugations-for-one-tense-block.presentperfectsubjunctive input {
    width: 7.8em;
}

.one-tense-only hr,
.one-tense-only .conjugations-for-one-tense-block .tense {
    display: none;
}

.one-tense-only .verb-block {
    display: inline-block;
    width: 33.3%;
}

.one-tense-only .conjugations-for-one-tense-block {
    width: auto;
}

/* Text exercises */

.text h2 {
    color: #007f00;
    text-align: center;
}

.text h3 {
    color: var(--section-header-color);
    font-size: 1.25em;
    text-align: center;
}

.text h4 {
    color: var(--section-header-color);
    font-size: 1.2em;
    text-align: left;
}

.text i {
    color: chocolate;
    font-weight: bold;
}

.text p,
.text li {
    line-height: 2;
    text-align: left;
}

.text .short-input input[type="text"] {
    width: 2.5em;
}

.text .medium-input input[type="text"] {
    width: 3.75em;
}

.text input[type="text"] {
    font-size: 1em;
    width: 6em;
}

.text input.wide {
    font-size: 1em;
    width: 9em;
}

.text input.extra-wide {
    font-size: 1em;
    width: 11em;
}

.text .input-sentence-width input {
    width: 38em;
}

.text section {
    margin-bottom: 3em;
}

.text ol.nested>li::marker {
    color: var(--section-header-color);
    font-size: 1.2em;
    font-weight: bold;
}

.text ol {
    padding-left: 1em;
}

.text ol.nested ol {
    padding-left: 0;
    margin-left: -0.5em;
}

.text li {
    margin-bottom: 1em;
    margin-left: 0.75em;
}

.text .example {
    margin-bottom: 1em;
}

ol#stats {
    counter-reset: item;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

#stats li {
    margin-left: -2.5em;
}

.text #stats li {
    margin-left: -1em;
}

#stats li {
    margin-bottom: 0;
    line-height: 1.5;
}

#stats li::before {
    content: counter(item) ") ";
    counter-increment: item;
}

#stats .best-result,
td.best-result {
    font-weight: bold;
    /* color of title in GMail */
    color: #1f1f1f;
}

.text .span-half li>span {
    display: inline-block;
    width: 49%;
}
/*
    "example" block is used in 
        exercise_imperative.html
        exercise_presentperfectsubjunctive.html
        exercise_passive.html
        exercise_adjectives.html
*/
.text .span-half .example>span {
    display: inline-block;
    width: 49%;
}

.text .span-third span {
    display: inline-block;
    width: 32%;
}

/* exercise_qui_quel_quelle.html */
.text .span-two-thrids-third li>span:first-of-type {
    display: inline-block;
    width: 55%;
}

/* exercise_devoir_pouvoir_falloir_vouloir.html */
.text .span-third-two-thirds {
    margin-bottom: 1em;
}

.text .span-third-two-thirds span:first-of-type {
    display: inline-block;
    width: 23%;
}

.text .span-third-two-thirds span:nth-child(2) {
    display: inline-block;
}

.text .span-third-two-thirds ul {
    list-style-type: "- ";
}

.text .span-third-two-thirds ul li {
    margin-bottom: 0;
}

.text .span-third.three-radio-buttons span:nth-child(2) {
    display: inline-block;
    width: 45%;
}

.text .span-third span.info-icon {
    font-size: x-large;
    line-height: 100%;
    margin-left: -1em;
}

/* line for given example for exercise */
/*
.text .span-half div span:nth-of-type(2) {
    box-sizing: border-box;
    padding-left: 0.5em;
}
*/
/* line for given example for exercise */
/*
.text .span-third div span:nth-of-type(2) {
    box-sizing: border-box;
    padding-left: 0.9em;
}
*/
/* line for given example for exercise */
.text .span-third div span:nth-of-type(3) {
    /* padding-left: 0.4em; */
}

.text section span.sentence-with-hint,
.text section span.hint {
    width: auto;
    display: inline !important;
    margin-left: auto !important;
}

.text section span.sentence-with-hint input {
    margin: auto;
}

.on span.hint {
    background-color: yellow;
}

.text section li {
    clear: both;
}

.text section.span-half li>span:nth-of-type(1) {
    /* for top vertical alignement of order number in <li> */
    float: left;
}

/* we need not(.span-third-two-thirds) for exercise_devoir_pouvoir_falloir_vouloir.html */
.text section:not(.first-span-grows):not(.no-growth)>*:not(.span-third-two-thirds) li span:nth-of-type(2),
.text section li span:nth-of-type(3) {
    display: inline-flex;
}

/* first-span-grows is in exercise_quand_comment_combien.html */
.text section.first-span-grows li span:nth-of-type(1) {
    display: inline-flex;
    width: calc(49% - 2em);
    margin-right: 2em;
}

.text section li span input[type="text"] {
    flex-grow: 1;
    align-self: center;
    /* exercise_conditionalpresent.html has question marks at the end of 
       text input so we need margin-right */
    margin: 0 0.25em 0 0em;

    /* or it will grow because line-height is 2 */
    height: min-content;
}

/* for input[type="radio"] in present subjunctive */
.text section li label {
    width: 6em;
    margin-right: 2em;
}

.text section li label:first-of-type {
    margin-left: -3em;
}

.whitespace {
    display: inline-block;
    width: 5em !important;
}

.whitespace-mini {
    display: inline-block;
    width: 1em !important;
}

.error-counter-line {
    display: none;
}


/* ------------------------------------------------ */
/* stats page */

/* show user that there is a hint when mouse over */
#stats-page *[title] {
    font-style: italic;
}

#checkboxes {
    width: 75em;
    margin: auto;
    text-align: center;
}

#checkboxes #exercise-types label {
    display: inline-block;
    width: 19%;
}

#checkboxes #language-levels label {
    display: inline-block;
    width: 7%;
}

.recent-dates #checkboxes label:not(.not-disableable) {
    color: dimgrey;
    pointer-events: none;
}

.recent-dates #checkboxes label:not(.not-disableable) input {
    accent-color: silver;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

table small {
    /* for star symbol */
    /*display: none;*/
}

th,
td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

thead tr:first-child th:first-of-type,
td:first-of-type {
    border-left: 1px solid black;
}

thead tr:first-child th {
    border-top: 1px solid black;
}

thead tr:first-child th:first-of-type {
    /* date column */
    min-width: 5.25em;
    max-width: 5.25em;
}

thead tr:nth-of-type(3) th {
    width: 3em;
}

caption {
    padding: 1em;
}

tr.even-week td:first-child {
    background-color: azure;
}

td.done-earlier {
    background-color: WhiteSmoke;
}

th,
td {
    padding: 0.25em;
    text-align: center;
}

td.date {
    width: 5.5em;
}

thead tr:first-child th {
    width: 6rem;
}

/* freeze table header during scrolling */
table {
    position: relative;
}

th {
    position: sticky;
    background-color: white;

    /* attempt to fix rendering issue when some borders in the headers are not shown */
    /*
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    */
}

thead tr:nth-child(1) th {
    top: 0;
}

thead tr:nth-child(2) th {
    top: 2em;
}

thead tr:nth-child(3) th {
    top: 5em;
}

article.tense-sequence:not(.conjugations):not(.others) .tense-sequence .full-name {
    display: block;
    width: 9em;
    white-space: break-spaces;
}

article.tense-sequence:not(.conjugations):not(.others) .tense-sequence .short-name {
    display: none;
}

article.tense-sequence:is(.conjugations, .others) .tense-sequence .full-name,
/* add below otherwise column height will be big */
article:not(.tense-sequence) .tense-sequence .full-name {
    display: none;
}

article.tense-sequence:is(.conjugations, .others) .tense-sequence .short-name {
    display: block;
}

/* hide stats columns based on checkbox selection */
table th:not([data-key="date"]),
table td:not([data-key="date"]) {
    max-width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
}

#stats-page article:not(.A1) th.A1,
#stats-page article:not(.A1) td.A1,
#stats-page article:not(.A2) th.A2,
#stats-page article:not(.A2) td.A2,
#stats-page article:not(.B1) th.B1,
#stats-page article:not(.B1) td.B1,
#stats-page article:not(.B2) th.B2,
#stats-page article:not(.B2) td.B2,
#stats-page article:not(.C1) th.C1,
#stats-page article:not(.C1) td.C1 {
    max-width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
}

/* for the top row (showing levels A1, A2, B1, B2, C1) */
#stats-page article.recent-dates thead tr:first-child th.recent-dates {
    border-top: 1px solid black;
}

article.duration .duration,
article.others:not(.recent-dates) .others,
article.conjugations:not(.recent-dates) .conjugations,
article.conjugations-plus:not(.recent-dates) .conjugations-plus,
article.tense-sequence:not(.recent-dates) .tense-sequence,
#stats-page article.recent-dates table .recent-dates {
    max-width: none;
    visibility: visible;
    padding: 0.25em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


/* ------------------------------------------------ */
/* index page */

.card {
    display: inline-block;
    vertical-align: top;
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
}

.card header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid gainsboro;
    background-color: whitesmoke;
    color: black;
}

.card .cefr {
    position: absolute;
    padding: 1em 0 0 6.6em;
    color: black;
    opacity: 0.25;
}

.card a,
a.wide {
    display: block;
    width: 13rem;
    color: blue;
    border: 1px solid blue;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    padding: 0.5rem 0;
    text-decoration: none;
}

.card a:hover,
a.wide:hover {
    background-color: blue;
    color: white;
}

a.wide {
    width: 30rem !important;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }

    article {
        width: 100%;
    }

    #verb-list {
        text-align: center;
    }

    .verb-block {
        margin: auto;
    }

    .speakerphone svg {
        /* original 20 */
        width: 25px;

        /* original 20 */
        height: 25px;
    }
}