body {
    font-family: sans-serif
}

article {
    width: 47em;
    margin: auto;
}

header {
    text-align: center;
}

h3,
.infinitive {
    color: #663300;
}

header h4 {
    color: #ff3300;
    text-align: left;
    padding: 0 2em;
}

.verb-block {
    display: inline-block;
    margin: 0em 1em;
    vertical-align: top; /* if not all pronouns are used. Example: falloir - il faudra */
}

.verb-block label {
    width: 2.5em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

input {
    font-size: 1em;
    width: 8em;
    margin: 0 0.25em;
}

.speakerphone {
    fill: rgb(95, 99, 104);
    display: flex;
    align-items: center;
}

.verb-block .conjugation-line {
    margin: 1em 0;
    display: flex;
}

.error,
input:invalid:not(:focus) {
    background-color: #fc8181;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }

    article {
        width: 100%;
    }

    #verb-list {
        text-align: center;
    }

    .verb-block {
        margin: auto;
    }

    .speakerphone svg {
        width: 25px; /* original 20 */
        height: 25px; /* original 20 */
    }
}
