iframe {
    display: none;
}

body {
    font-family: sans-serif;
}

body main {
    width: 50em;
    margin: auto;
}

body main.wide {
    width: 77em;
}

.home-icon {
    position: absolute;
    left: 1em;
    top: 1em;
}

.home-icon svg {
    /* original 50 */
    width: 30px;

    /* original 50 */
    height: 30px;
}

#page-title {
    text-align: center;
}

h3,
.infinitive {
    color: #663300;
}

header h4 {
    color: #ff3300;
    text-align: left;
}

.verb-list .verb-block,
.conjugations-for-one-tense-block {
    display: inline-block;
    width: 33.3%;

    /* if not all pronouns are used. Example: falloir - il faudra */
    vertical-align: top;
}

.verb-block label {
    width: 2.5em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.verb-list input,
.conjugations-for-one-tense-block input {
    font-size: 1em;
    width: 9.5em;
    margin: 0 0.25em;
}

.speakerphone {
    fill: rgb(95, 99, 104);
    display: flex;
    align-items: center;
}

.verb-block .conjugation-line {
    margin: 1em 0;
    display: flex;
}

.conjugations-for-one-tense-block .conjugation-line:first-of-type {
    margin-top: 0;
}

input[type="text"]:invalid:not(:focus) {
    background-color: #fc8181;
}

input[type="text"].failed:not(:invalid) {
    border: 2px #fc8181 solid;
}

/* for radio button */
label:has(input[type="radio"]:checked:not(:required)) {
    background-color: #fc8181;
}

/* add transparent border to keep size the same */
label:not(.failed):has(input[type="radio"]),
li span:has(+span) {
    border: 2px transparent solid;
}

label.failed {
    border: 2px #fc8181 solid;
}


/* Mixed conjugation page */

#checkboxes-to-choose-tenses {
    display: none;
}

header label {
    display: inline-block;
    width: 24%;
    margin: 0.5em 0;
    vertical-align: top;
}

header label:last-of-type {
    margin-bottom: 2em;
}

.conjugations-for-one-tense-block.presentsubjunctive label {
    width: 4.2em;
}

.conjugations-for-one-tense-block.presentsubjunctive input {
    width: 7.8em;
}

.one-tense-only hr,
.one-tense-only .conjugations-for-one-tense-block .tense {
    display: none;
}

.one-tense-only .verb-block {
    display: inline-block;
    width: 33.3%;
}

.one-tense-only .conjugations-for-one-tense-block {
    width: auto;
}

/* Text exercises */

.text h2 {
    color: #007f00;
    text-align: center;
}

.text h3 {
    color: #2a5f6e;
    font-size: 1.25em;
    text-align: center;
}

.text h4 {
    color: #2a5f6e;
    font-size: 1.2em;
    text-align: left;
}

.text p,
.text li {
    line-height: 2;
    text-align: left;
}

.text input[type="text"] {
    font-size: 1em;
    width: 6em;
}

.text input.wide {
    font-size: 1em;
    width: 9em;
}

.text input.extra-wide {
    font-size: 1em;
    width: 11em;
}

.text .input-sentence-width input {
    width: 38em;
}

.text section {
    margin-bottom: 3em;
}

.text ol {
    padding-left: 1em;
}

.text li {
    margin-bottom: 1em;
    margin-left: 0.75em;
}

ol#stats {
    counter-reset: item;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

#stats li {
    margin-left: -2.5em;
}

.text #stats li {
    margin-left: -1em;
}

#stats li {
    margin-bottom: 0;
    line-height: 1.5;
}

#stats li::before {
    content: counter(item) ") ";
    counter-increment: item;
}

#stats .best-result,
td.best-result {
    font-weight: bold;
}

.text .span-half span {
    display: inline-block;
    width: 49%;
}

.text .span-third span {
    display: inline-block;
    width: 32%;
}

/* line for given example for exercise */
.text .span-half div span:nth-of-type(2) {
    box-sizing: border-box;
    padding-left: 0.5em;
}

/* line for given example for exercise */
.text .span-third div span:nth-of-type(2) {
    box-sizing: border-box;
    padding-left: 0.9em;
}

/* line for given example for exercise */
.text .span-third div span:nth-of-type(3) {
    padding-left: 0.4em;
}

.text section span.sentence-with-hint,
.text section span.hint {
    width: auto;
    display: inline !important;
    margin-left: auto !important;
}

.text section span.sentence-with-hint input {
    margin: auto;
}

.on span.hint {
    background-color: yellow;
}

.text section li {
    clear: both;
}

.text section.span-half li span:nth-of-type(1) {
    /* for top vertical alignement of order number in <li> */
    float: left;
}

.text section li span:nth-of-type(2),
.text section li span:nth-of-type(3) {
    display: inline-flex;
}

.text section li span input[type="text"] {
    flex-grow: 1;
    align-self: center;
    margin: 0 0.25em 0 0em;

    /* or it will grow because line-height is 2 */
    height: min-content;
}

/* for input[type="radio"] in present subjunctive */
.text section li label {
    width: 6em;
    margin-right: 2em;
}

.text section li label:first-of-type {
    margin-left: -4em;
}

.whitespace {
    display: inline-block;
    width: 5em !important;
}

.whitespace-mini {
    display: inline-block;
    width: 1em !important;
}

.error-counter-line {
    display: none;
}

/* stats page */

table {
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

thead tr:first-child th:first-of-type,
thead tr:nth-child(2) th:first-of-type,
td:first-of-type {
    border-left: 1px solid black;
}

thead tr:first-child th {
    border-top: 1px solid black;
}

caption {
    padding: 1em;
}

tr.even-week td:first-child {
    background-color: azure;
}

td.done-earlier {
    background-color: WhiteSmoke;
}

th,
td {
    padding: 0.25em;
    text-align: center;
}

td.date {
    width: 5.5em;
}

thead tr:first-child th {
    width: 6rem;
}

/* freeze table header during scrolling */
table {
    position: relative;
}

th {
    position: sticky;
    background-color: white;

    /* attempt to fix rendering issue when some borders in the headers are not shown */
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
}

thead tr:nth-child(1) th {
    top: 0;
}

thead tr:nth-child(2) th {
    top: 2em;
}

thead tr:nth-child(3) th {
    top: 5em;
}

/* index page */

.card {
    display: inline-block;
    vertical-align: top;
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
}

.card header {
    padding: 1rem;
    border-bottom: 1px solid gainsboro;
    background-color: whitesmoke;
    color: black;
}

.card .cefr {
    position: absolute;
    padding: 1em 0 0 6.6em;
    color: black;
    opacity: 0.25;
}

.card a,
a.wide {
    display: block;
    width: 13rem;
    color: blue;
    border: 1px solid blue;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    padding: 0.5rem 0;
    text-decoration: none;
}

.card a:hover,
a.wide:hover {
    background-color: blue;
    color: white;
}

a.wide {
    width: 30rem !important;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }

    article {
        width: 100%;
    }

    #verb-list {
        text-align: center;
    }

    .verb-block {
        margin: auto;
    }

    .speakerphone svg {
        /* original 20 */
        width: 25px;

        /* original 20 */
        height: 25px;
    }
}