body {
    font-family: sans-serif
}

body main {
    width: 47em;
    margin: auto;
}

#page-title {
    text-align: center;
}

h3,
.infinitive {
    color: #663300;
}

header h4 {
    color: #ff3300;
    text-align: left;
}

.verb-list {
    margin: 0em 1em;
}

.verb-list .verb-block,
.conjugations-for-one-tense-block {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    /* if not all pronouns are used. Example: falloir - il faudra */
}

.verb-block label {
    width: 2.5em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.verb-list input,
.conjugations-for-one-tense-block input {
    font-size: 1em;
    width: 8em;
    margin: 0 0.25em;
}

.speakerphone {
    fill: rgb(95, 99, 104);
    display: flex;
    align-items: center;
}

.verb-block .conjugation-line {
    margin: 1em 0;
    display: flex;
}

.error,
input:invalid:not(:focus) {
    background-color: #fc8181;
}


/* Mixed conjugation page */

header label {
    display: inline-block;
    width: 24%;
    margin: 0.5em 0;
    vertical-align: top;
}

header label:last-of-type {
    margin-bottom: 2em;
}


/* Text exercises */

.text h2 {
    color: #007f00;
    text-align: center;
}

.text h3 {
    color: #2a5f6e;
    font-size: 1.25em;
    text-align: center;
}

.text h4 {
    color: #2a5f6e;
    font-size: 1.2em;
    text-align: left;
}

.text p,
.text li {
    line-height: 2;
    text-align: left;
}

.text input {
    font-size: 1em;
    width: 6em;
}

.text input.wide {
    font-size: 1em;
    width: 9em;
}

.text section {
    margin-bottom: 3em;
}

.text ol {
    padding-left: 1em;
}

.text li {
    margin-bottom: 1em;
}

.text section span {
    display: inline-block;
    width: 49%;
}

.text section li span:nth-of-type(2) {
    margin-left: -0.5em;
    display: inline-flex;
}

.text section li span input {
    flex-grow: 1;
    margin: 0 0.25em 0 0.5em;
}

.whitespace {
    width: 5em !important;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }

    article {
        width: 100%;
    }

    #verb-list {
        text-align: center;
    }

    .verb-block {
        margin: auto;
    }

    .speakerphone svg {
        width: 25px;
        /* original 20 */
        height: 25px;
        /* original 20 */
    }
}